<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
        <link rel="stylesheet" type="text/css" th:href="main.css"/>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>
        
        <table><tr><td>You are logged in as:</td><td th:text="${username}">User name</td></tr></table>
        
        <form action="#" th:action="@{/done}" method="GET">
            <p><input type="submit" value="View participants" /></p>
        </form>
        <form action="#" th:action="@{/done}" method="POST">
            <p><input type="submit" value="Back to signup page" /></p>
        </form>
    </body>
</html>
